extends ../top

block content
	nav.navbar(style="padding-top: 10px")
		.navbar-left
			.navbar-item: p.subtitle.is-4 Oddane naloge
		.navbar-right
			.navbar-item: a.button.is-primary(href="/users") Uporabniki