extends ../top

block content
	nav.navbar(style="padding-top: 10px")
		.navbar-left
			.navbar-item: p.subtitle.is-4 Uporabniki
		.navbar-right
			.navbar-item: a.button.is-primary(href="/") Naloge
	div(ng-controller='usersCtrl')
		table.table
			thead: tr
				td
				td Ime
				td Priimek
				td Šola
				td E-mail
				td(colspan=2) Opravila
			tr(ng-repeat='user in users | orderBy:"class" track by $index')
				td.table-icon(title='{{user.type}}')
					i.fa(ng-class="{'fa-unlock admin': user.type=='admin', 'fa-lock mod': user.type=='mod', 'fa-user user': user.type=='user'}")
				td {{user.name}}
				td {{user.surname}}
				td {{user.school}}
				td {{user.email}}
				td.table-link.table-icon: a(href="/user/{{user._id}}"): i.fa.fa-edit
				td.table-link.table-icon: a(href="/user/{{user._id}}/delete"): i.fa.fa-remove