extends ../top

block content
	nav.navbar(style="padding-top: 10px")
		.navbar-left
			.navbar-item: p.subtitle.is-4= user.name + " " + user.surname
		.navbar-right
			.navbar-item: a.button.is-danger(href="/user/"+user._id+"/delete") Izbriši
			
	form(action="/user/"+user._id method="POST")
		p.control
			label.label(for="name") Ime
			input(type="text" name="name" value=user.name).input#name
		p.control
			label.label(for="surname") Priimek
			input(type="text" name="surname" value=user.surname).input#surname
		p.control
			label.label(for="email") E-mail
			input(type="email" name="email" value=user.email).input#email
		p.control
			label.label(for="password") Geslo (le če želite spremeniti)
			input(type="password" name="password").input#password
		p.control
			spaw.select: select(name="type")
				option(value="user" selected=(user.type=="user")) Uporabnik
				option(value="moderator" selected=(user.type=="moderator")) Moderator
				option(value="admin" selected=(user.type=="admin")) Administrator
		button(type="submit").button.is-success Potrdi