html(ng-app='compMan')
	head
		script(src="/js/jquery-2.2.2.min.js")
		script(src="/js/vex.combined.min.js")
		script(src="/js/angular.min.js")
		script(src="/js/moment.min.js")
		script(src="/js/angular-moment.min.js")
		script(src="/js/angular-modal-service.min.js")
		script(src="/js/app.js")
		link(rel='stylesheet', type='text/css', href='main.css')
		link(rel="stylesheet" href="/css/vex.css")
		link(rel="stylesheet" href="/css/vex-theme-top.css")
		meta(name='viewport', content='width=device-width, initial-scale=1')
	body(ng-controller='loginCtrl')
		header
			.stack
				ul
					li
						img(src='img/bakanlik.jpg')
					li
						img(src='img/eu.png')
					li
						img(src='img/ajans.jpg')
					li
						img(src='img/scnm.png')
			.control
				ul
					li
						a.button(href='mailto:megavet@sc-nm.si') KONTAKT
					li
						a.button(href='/megavet.pdf') NAVODILA
					li
						a.button(ng-click='signUp()') REGISTRACIJA
					li
						a.button(ng-click='login()') PRIJAVA
			hr
		main
			.content
				#title MEGAVET
				#subtitle
					span M
					| ove to
					span  E
					| nhance the
					span  G
					| amified
					span  A
					| pplications in
					span  V
					| ocational
					span  E
					| ducation
					span  T
					| raining
					br
					a(href='http://www.mega-vet.eu') www.mega-vet.eu
				#moto
					| GAMI
					span FICATION
					#subtitle
						| Natečaj za logotip
		footer
			hr
			.stack
				ul
					li
						img(src='img/gr.png')
					li
						img(src='img/tr.png')
					li
						img(src='img/sl.png')
					li
						img(src='img/es.png')
					li
						img(src='img/it.png')
