html
	head
		link(rel='stylesheet', type='text/css', href='main.css')

	body
		header
			.stack
				ul
					li
						img(src='img/bakanlik.jpg')
					li
						img(src='img/eu.png')
					li
						img(src='img/ajans.jpg')
					li
						img(src='img/scnm.png')
					.float-right
						li
							a.button NAVODILA
						li
							a.button(href="/saml") PRIJAVA
			hr
		main
			.content
				#title MEGAVET
				#subtitle
					span M
					| ove to
					span  E
					| nhance the
					span  G
					| amified
					span  A
					| pplications in
					span  V
					| ocational
					span  E
					| ducation
					span  T
					| raining
					br
					a(href='http://www.mega-vet.eu') www.mega-vet.eu
				#moto
					| GAMI
					span FICATION
					#subtitle
						| Natečaj za logotip
		footer
			hr
			.stack
				ul
					li
						img(src='img/gr.png')
					li
						img(src='img/tr.png')
					li
						img(src='img/sl.png')
					li
						img(src='img/es.png')
					li
						img(src='img/it.png')
