doctype html
html
	head
		link(rel="stylesheet" href="/css/bulma.min.css")
		title Navodila
	body.content
		p.title Vizija Srednje elektro šole in tehniške gimnazije:
		ul.subtitle
			li s posebno skrbjo za kakovosten in sodoben pouk v sodelovanju z okoljem in s starši tudi v prihodnosti ustvarjati pogoje, v katerih bodo naši dijaki čim bolj optimalno razvili svoje zmožnosti bodisi za opravljanje poklica bodisi za nadaljnje izobraževanje, pri tem pa razvili občutek za sočloveka, solidarnost, sodelovanje in odgovorno opravljanje nalog;
			li ohraniti vodilni položaj na področju tehnike in naravoslovja v regiji in s svojimi uspehi postati prepoznavna šola v širšem okolju ter primerljiva z istovrstnimi programi v evropskem prostoru.
		.is-fullwidth.is-text-centered
			button.button.is-danger.is-outlined(onclick="window.close()") Zapri