doctype html
html
	head
		link(rel="stylesheet" type="text/css" href="/css/bulma.min.css")
	body
		header.header.is-fixed-top: .container
			.header-left: .header-item.title.is-3 Natečaj za logotip SEŠTG
			.header-right.header-menu
				.header-item
					a.button.is-success Prijava
			span.header-toggle
				span
				span
				span

		block content