@import url(https://fonts.googleapis.com/css?family=Exo+2:400,900&subset=latin,latin-ext);

@font-face {
  font-family: coalition;
  src: url('font/coalition.ttf');
}
* {
  margin: 0;
  padding: 0;
}

html, body {
  height:100%;
}

body {
  font-family: "Exo 2";
}

body::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: url('img/bg.jpg') center center no-repeat;
  -webkit-filter: opacity(0.25);
  filter: opacity(0.25);
  background-size: contain;
}

header {
  background-color: #EEEEEE;
}

header .stack {
  width: calc(80vw - 2em);
  margin: 0 auto;
}

footer {
  background-color: #EEEEEE;
  width: 100%;
  position: fixed;
  bottom: 0;
}

footer .stack {
  margin:0 auto;
  width: calc(60vw - 2em);
}

main {
  margin: auto 2%;
  text-align: center;
  position: relative;
  top: 50%;
  transform: translateY(-80%);
}


.content {

}

hr {
  border: 1px solid lightgray;
}

img {
  border-radius: 0.2em;
}

a:not(.button) {
  color: #64AFD9;
  text-decoration: none;
}

a:hover:not(.button) {
  color: #90BCD4;
}

a:visited:not(.button) {
  color: #5DA3C9;
}

.control ul {
  list-style-type: none;
  display: flex;
  text-align: center;
}

.button {
  text-decoration: none;
  background-color: #FFC600;
  display: block;
  color: white;
  padding: 0.6em 2em;
  margin: 0.1em;
  border-radius: 10px;
  cursor: pointer;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}

#title {
  font-size: 3.5em;
  font-family: "Exo 2";
  font-weight: bold;
}

#subtitle {
  font-size: 2.25em;
  font-family: "Exo 2";
}

#subtitle a {
  font-size: 1.8em;
  text-decoration: none;
}

#subtitle span {
  font-weight: bold;
  color: #71d100;
}

#moto #subtitle {
  color: black;
  font-size: 1.5em;
}

#moto {
  margin-top: 5%;
  text-align: center;
  color: #6600cc;
  font-family: coalition;
  font-size: 8em;
}
#moto span {
  color: #71d100;
}

@media only screen and (min-width: 768px) {
#title {
  font-size: 2.5em;
}

#subtitle {
  font-size: 1.25em;
}

#subtitle a {
  font-size: 1em;
}

#moto #subtitle {
  font-size: 0.5em;
}

#moto {
  font-size: 5em;
}

}


.stack {
  padding: 1em;
  opacity: 1;
  width: calc(100vw - 2em);
}
.stack ul {
  list-style-type: none;
  display: flex;
  text-align: center;
  justify-content: space-between;
}
.stack li {
  display: inline-block;
}
.stack img {
  margin: 0 1em;
  height: 3rem;
}

.float-right {
  float: right
}