@import url(https://fonts.googleapis.com/css?family=Exo+2:400,900&subset=latin,latin-ext);

@font-face {
  font-family: coalition;
  src: url('font/coalition.ttf');
}
* {
  margin: 0;
  padding: 0;
}

html, body {
  margin: 0 !important;
}

body {
  font-family: "Exo 2";
}

body::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: url('img/bg.jpg') center center no-repeat;
  -webkit-filter: opacity(0.25);
  filter: opacity(0.25);
  background-size: contain;
}

header {
  background-color: #EEEEEE;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 999;
}

header .stack {
  margin: 0 auto;
}

footer {
  background-color: #EEEEEE;
  width: 100%;
  position: fixed;
  bottom: 0;
  z-index: 999;
}

footer .stack {
  margin: 0 auto;
}

main {
  margin: 5.8em 2%;
  text-align: center;
}

.content {
  width: calc(100% - 2%);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

hr {
  border: 1px solid lightgray;
}

img {
  border-radius: 0.2em;
}


.control {
  position: absolute;
  margin: 2vw auto;
  width: 100%;
}
.control ul {
  list-style-type: none;
  display: flex;
  text-align: center;
  justify-content: center;
}

@media only screen and (min-width: 768px) {
  .control {
    margin: 1em auto;
  }
  .control ul {
    justify-content: flex-end;
  }
  .control ul:last-child {
    margin-right: 2em;
  }
}



.stack {
  opacity: 1;
}
.stack ul {
  list-style-type: none;
  display: flex;
  text-align: center;
  justify-content: space-between;
}
.stack li {
  display: inline-block;
}
.stack img {
  margin: 2vw;
  height: 8vw;
}

@media only screen and (min-width: 768px) {
  .stack {
    width: calc(100% - 28em);
  }
  .stack img {
    margin: 1em;
    height: 3.5em;
  }
}

a:not(.button) {
  color: #64AFD9;
  text-decoration: none;
}

a:hover:not(.button) {
  color: #90BCD4;
}

a:visited:not(.button) {
  color: #5DA3C9;
}


.button {
  text-decoration: none;
  background-color: #FFC600;
  display: block;
  color: white;
  padding: 0.6em 2em;
  margin: 0.1em;
  border-radius: 10px;
  cursor: pointer;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}

#title {
  font-size: 15vw;
  font-family: "Exo 2";
  font-weight: bold;
}

#subtitle {
  font-size: 7vw;
  font-family: "Exo 2";
}

#subtitle a {
  font-size: 5vw;
  text-decoration: none;
}

#subtitle span {
  font-weight: bold;
  color: #71d100;
}

#moto #subtitle {
  color: black;
  font-size: 6vw;
}

#moto {
  margin-top: 5%;
  text-align: center;
  color: #6600cc;
  font-family: coalition;
  font-size: 10vw;
}
#moto span {
  color: #71d100;
}

@media only screen and (min-width: 768px) {
  #title {
    font-size: 2.5em;
  }
  #subtitle {
    font-size: 1.25em;
  }
  #subtitle a {
    font-size: 1em;
  }
  #moto #subtitle {
    font-size: 0.5em;
  }
  #moto {
    font-size: 5em;
  }
}